name: CI for schemademo

on:
  push:
    branches: [dev, UI-Tests-Schools]
  pull_request:
    branches: [dev]

jobs:

  ui-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16'
        cache: 'npm'
    - run: npm ci
    - run: cd admin/ && npm ci && npm run build
    - run: cd schedule-data-service/ && npm ci
    - name: Cypress run
      uses: cypress-io/github-action@v4
      with:
        browser: chrome
        start: npm run dev

  api-tests:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
 
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci

    # run the npm build command (not used in our project)
    
    - run: npm run build-it
    - run: cd schedule-data-service && npm install
    - run: npm install -g newman
    - run: npm install -g pm2
    - run: pm2 start "npm run dev"
    - run: npm run api
    
    
  deploy:
    name: "Deploy to CI-flow"
    needs: [api-tests]
    runs-on: ubuntu-latest
    steps:
      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/dev.key
          chmod 600 ~/.ssh/dev.key
          cat >>~/.ssh/config <<END
          Host dev
            HostName $SSH_HOST
            User $SSH_USER
            Port $SSH_PORT
            IdentityFile ~/.ssh/dev.key
            StrictHostKeyChecking no
          END
        env:
          SSH_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SSH_HOST: ${{ secrets.SSH_HOST }}
          SSH_USER: ${{ secrets.SSH_USER }}
          SSH_PORT: ${{ secrets.SSH_PORT }}          

     

      - name: Deploy from main 
        # Here 'ssh dev' is like run command which will be the same for every branch 
        # 'cd dev' here dev is the folder we make in the server (aws-terminal)
        run: ssh dev 'cd dev/ && git fetch && git pull origin dev'
        

      - name: Restart app 
        # Here 'dev' is the name of the app running by pm2
        run: ssh dev 'pm2 restart app'        